body{
    background-color: #F2B988;
    color: #BF5841;
    text-align: center;
}
table, td, th{
    border: 3px solid #47BF26;
    border-collapse: collapse;
    margin: auto;
}
td, th{
    width: 100px;
}
dl{
    color: #324759;
    font-weight: bold;
    font-size: large;
}
caption, img{
    margin: 30px;
}
figcaption{
    font-size: larger;
}
.cap1{
    font-size: x-large;
}